{% args params %}
<!-- enhance web form -->

<html>
  <head>
    <title>Configuration</title>
    <style>
        /* your CSS styles go here */
      </style>
  </head>
  <body>
    <h1>Configuration</h1>
    <form method="post" action="/config" enctype="application/json">
      <label>Wi-Fi network SSID:</label>
      <input type="text" name="wifi_ssid" value={{ params['wifi_ssid'] }}>
      <br>
      <label>Wi-Fi network password:</label>
      <input type="text" name="wifi_password" value={{ params['wifi_psk'] }}>
      <br>
      <label>Btcpay server URL:</label>
      <input type="text" name="url" value={{ params['btcpay_server_url'] }}>
      <br>
      <label>Btcpay user API key:</label>
      <input type="text" name="api_key" value={{ params['btcpay_server_api_key'] }}>
      <br>
      <label>Btcpay webhook secret:</label>
      <input type="text" name="webhook_secret" value={{ params['btcpay_server_webhook_secret'] }}>
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>


